decord
einops
lm_eval
numpy
packaging
pytest
setuptools
timm
transformers
wheel
torch
torchvision
# torch==2.1.1+cu118 --find-links https://download.pytorch.org/whl/cu118
# torchvision==0.16.1+cu118 --find-links https://download.pytorch.org/whl/cu118